.library {
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 2px 2px rgb(202, 200, 200);
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.21, 0.98, 0.39, 1.72),
    opacity 0.5s ease;
  h2 {
    padding: 2rem;
  }

  &.open {
    transform: translateX(0);
    opacity: 1;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  img {
    width: 30%;
  }

  .song-description {
    padding: 1rem;
  }
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
