.player {
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
  }
  p {
    padding: 1rem;
  }
}

.play-control {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    cursor: pointer;
  }
}
