* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  // background-image: linear-gradient(-45deg, rgb(179, 187, 287), #f8c6fd);
  // background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
}

h1,
h2,
h3 {
  color: rgb(48, 47, 47);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(172, 147, 147);
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
