div.box {
    display: none;
    min-height: 300px;
    min-width: 300px;
    max-height: 500px;
    max-width: 500px;
    background-color: #bbbbaa;
    overflow-y: scroll;
    padding: 50px;
    margin: 50px;
    border-width: 2px 20px 10px 50px; /*segue os ponteiros do relogio*/
    border-color: black;
    border-style: solid; /*border-style: dashed;*/
    
    /*ou border: 2px solid black*/
    margin: 10px auto;
    visibility: hidden;

}


p {
    height: 75%;
    width: 75%;
}

li {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

li.notyet {
    display: none;
}