@font-face {
    font-family: myFirstFont;
    src: url(AbrilFatface-Regular.ttf)
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    font-style: italic;
    font-weight: 500;
    border: 1px solid black;
    text-indent: 20pt;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}


a:visited {
    color: red;
}


img {
    vertical-align: top;
}