/* Isto é um comentario */

h1 {
    color: red;
    background-color: yellow;
    font-size: 50px;
}

* { /* todos os elementos do html são afetados*/
    font-size: 50px;;
}


.custom_paragraph {
    font-size: larger;
    color: salmon;
    background-color: seagreen;
}

#first_header{
    font-size: smaller;
}



a {
    border: 2px solid slategray;
}


li>a{
    margin-left: 2em;
}


li>a>p {
    color: violet;
}


h1+p {
    color: yellowgreen;
}


h1~p {
    color: yellowgreen;
}


h1[id] {
    background-color: tomato;
}


a[target=_blank]{
    color: wheat;
}


[href*="google"]{
    color: brown  !important;
}


h1 {
    color: #ff00003c !important;
}


