#content {
    height: 20rem;
    width: 20rem;
    background-color: red;
    /*line-height: 20rem; */ 
    position: relative;

}

/*
p#text-content {
    text-align: center;
    position: relative;
    margin-top: 10rem;
}
*/

#textcontent {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10pt;
    overflow-y: scroll;
}