* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lit-yellow {
    color: #fefbc4;
    text-shadow: 2px 2px 50pt #fefbc4;
}

.lit-pink {
    color: #ffdfe5;
    text-shadow: 2px 2px 50pt #ffdfe5;
}

.lit-purple {
    color: #cc99cc;
    text-shadow: 2px 2px 50pt #cc99cc;
}

.lit-red {
    color: #ff9999;
    text-shadow: 2px 2px 50pt #ff9999;
}

.lit-green {
    color: #cce5cc;
    text-shadow: 2px 2px 50pt #cce5cc;
}

#bulb-container {
    position: absolute;
    margin: auto;
}

#light-bulb {
    font-size: 100pt;
    transform: all 0.5s ease;
}

#light-switch{
    font-size: 20pt;
    padding: 10pt;
    border-radius: 50%;
    border: none;
}