body {
    background-image: -moz-linear-gradient(red, yellow);
    background-image: -webkit-linear-gradient(red, yellow);
    background-image: linear-gradient(red, yellow);
    height: 100%;
}

p {
    border-bottom-color: red;
    border-bottom-style: solid;
}

img.large {
    width: 500px;
    height: 500px;
}

img.medium {
    width: 250px;
    height: 250px;
}

img.small {
    width: 100px;
    height: 100px;
}

img.align-center {
    display: block;
    margin: 0px auto;
}

img.align-left {
    float: left;
    margin-right: 10px;
}