/**.topnav {
    background-color: #5f5f5f;
    color: #f1f1f1;
    font-size: 17px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
    overflow-y: auto;
    text-align: center;
}

.nav-link:hover {
    background-color: green;
    
}

.nav-link{
    line-height: 100%;
    height: 2rem;
    display: inline-block;
}

#topnav a{
    padding: 10px, 15px, 9px, 15px;
}

.card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.button {
    white-space: normal;
}

.bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.left {
    float: left!important;
}

.bar {
    width: 100%;
    overflow: hidden;
}


.bar .button {
    white-space: normal;
}

.bar .bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

**/

body{
    margin: 0;
    padding: 0;
}

.actions-and-punch-line-item {
    display: inline-block;
}

#main-navigation {
    position: relative;
    width: 100%;
    height: 44pt;
    background-color: grey;
}

#actions-and-puch-line{
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    right: 0;
    margin-right: 20pt;
}

#nav-brand {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20pt;
}
